:root {
  --black: #252423;
  --white: #F6F4F2;
  --red: #F64E4D;
  --green: #18FF74;
  --red: #FF4B4B;
  --orange: #FF8F42;
  --lightorange: #FFC730;
  --yellow: #F6FF56;
  --citrus: #A4FF4F;
  --green: #18FF74;
  --darkgreen: #00D672;
  --turquoise: #3CFFEC;
  --skyblue: #61C3FF;
  --kingblue: #5A87FF;
  --lavender: #8453E3;
  --purple: #C26EFF;
  --pink: #FB89FB;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

.blue {
  color: var(--skyblue);
}

.green {
  color: var(--green);
}

.square {
  width: 5rem;
  height: 5rem;
  background-color: currentColor;
}
